
<div class="container">
    <input type="text" class="form-control" placeholder="server side search" id="serverSearchField"/>
    <table id="employeeSearchTable" class="table table-dark">
        <thead>
            <tr>
                <th data-sort="true" data-sortType="int">Id</th>
                <th data-sort="true">Benutzername</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Geburtstag</th>
                <th data-sort="true">Stadt</th>
                <th>Titel</th>
                <th>Firma</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>