@model MyFirstWebsite.Web.Entitties.EmployeeEntity

<table class="table table-sm">
    <tbody>
        <tr>
            <th>Id</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>UserName</th>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <th>FirstName</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>LastName</th>
            <td>@Model.LastName</td>
        </tr>
    </tbody>
</table>