@page "/employee-details/{Id}"


    <h3>EmployeeDetails</h3>
    <p>
        Sie sehen dem Mitarbeiter @Employee.FirstName @Employee.LastName
    </p>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Geburtstag</td>
                <td>@Employee.Birthday</td>
            </tr>
        </tbody>
    </table>